/*
  Resets
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--body-bg);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

​h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

/*
  General Styles
*/
/*
  Universal
*/
:root {
  --body-bg: #FADE9B;
  --main-bg: #B3B5BA;
  --header-bg: #9BB8FA;
  --link-hover: #fff;
}

/*
  Tags
*/
header {
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  margin: 0;
  padding: 10px 20px;
  display: inline-block;
  vertical-align: middle;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header nav a {
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--link-hover) 0%, var(--link-hover) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

header nav a:last-child {
  margin-right: 0;
}

header nav a:hover {
  cursor: pointer;
  background-size: 100% 100%;
  color: white;
}

main {
  margin-top: 70px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 20px;
  background-color: var(--main-bg);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--header-bg);
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*
  Classes
*/


/*
  IDs
*/
